@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    background-color: #282c34;
    margin-top: 50px;
}
.topnav {
    background-color: #333;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}
.game {
    display: grid;
    place-items: center;
    height: 99vh;
    color: white;
    user-select: none;
    position: relative;
    font-family: "Quicksand", sans-serif;
    margin-top: -50px;
}
.main {
    display: flex;
    gap: 200px;
}
.left {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}
.right {
    max-height: 80vh;
    width: 550px;
    padding: 20px 5px;
    overflow-y: scroll;
}
.color-text {
    font-size: 32px;
    color: bisque;
    font-weight: 700;
    text-shadow: 2px 2px 4px #000000;
}
.cost-text {
    font-size: 18px;
}
.nut-img {
    width: 300px;
}
.nut-img:hover {
    cursor: pointer;
    opacity: 0.8;
}
.nut-img:active {
    transform: scale(0.95);
}
.upgrade {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 60px;
    border: 4px solid white;
    padding: 13px 20px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px;
}
.upgrade:hover {
    cursor: pointer;
    background-color: gray;
}
.upgrade:active {
    transform: scale(0.95);
}
.mid-section h4 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
}
.mid-section p {
    margin: 0;
}
.upgrade-img {
    width: 50px;
}
.nut-img-container {
    position: relative;
}
.nut-image {
    width: 25px;
    height: 25px;
}
.cost-info {
    display: flex;
    align-items: center;
    gap: 5px;
}
.nlvlinfo {
    position: absolute;
    right: -105px;
    background-color: gray;
    height: 80px;
    width: 100px;
    text-align: center;
    display: none;
}
.upgrade:hover .nlvlinfo {
    display: block;
}
.statistics {
    position: absolute;
    bottom: 0;
    width: 450px;
    padding: 30px;
    border: 2px solid white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    left: 50%;
    transform: translate(-50%);
}

.texts {
    display: flex;
    gap: 100px;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}
.util-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}
.util-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    font-family: inherit;
}
.util-button:hover {
    cursor: pointer;
    opacity: 0.7;
}
.fade-up {
    animation: fade-up 1s;
}
@keyframes fade-up {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    20% {
        transform: translateY(-5px);
        opacity: 0.9;
    }
    40% {
        transform: translateY(-15px);
        opacity: 0.75;
    }
    60% {
        transform: translateY(-30px);
        opacity: 0.55;
    }
    80% {
        transform: translateY(-45px);
        opacity: 0.3;
    }
    100% {
        transform: translateY(-60px);
        opacity: 0;
    }
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}